.taskViewContainer {
  width: 55%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 16px;
  padding: 10px;
}

.errorAnimation {
  border: 2px solid red;
  animation: vibrate 0.3s linear infinite;
}
.errorAnimation::placeholder {
  color: red;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}

@media (max-width: 500px) {
  .taskViewContainer {
    width: 92%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    padding: 10px;
  }
}
