.headerMainContainer {
  width: 100%;
  box-sizing: border-box;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.wallpaperscraft.ru/image/single/les_tuman_derevia_128751_1920x1080.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
}

.headerMainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.headerMainContainer > * {
  position: relative;
  z-index: 1;
}

.headerMainContainer h1 {
  font-size: 3.6em;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .headerMainContainer {
    width: 100%;
    box-sizing: border-box;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.wallpaperscraft.ru/image/single/les_tuman_derevia_128751_1920x1080.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
  }

  .headerMainContainer > * {
    position: relative;
    z-index: 1;
  }

  .headerMainContainer h1 {
    font-size: 3em;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
