.button {
  width: 150px;
  height: 40px;
  background-color: #c8d3c3;
  color: #fff;
  border-radius: 2px;
  font-size: 0.8em;
  border: none;
  transition: 0.3s ease;
}

.button:focus {
  background-color: #295232;
}

