body {
  margin: 0;
  display: flex;
  place-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Optimistic Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Optimistic Display", -apple-system, BlinkMacSystemFont,
    ui-sans-serif, system-ui, sans-serif;
}
.button {
  font-family: "Optimistic Display", -apple-system, system-ui, "Segoe UI",
    Roboto, sans-serif;
}
