.taskListContainer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  list-style: none;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.taskListContainer li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.taskListContainer::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
